@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
	font-family: 'Ubuntu', sans-serif;
}

.container {
	/* border: 1px solid red; */
	height: 90dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	column-gap: 7rem;
}

.title-container {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	/* border: 1px solid green; */
}

.title {
	font-size: 5rem;
	font-weight: 700;
	color: var(--logo-color);
}
.subtitle {
	color: var(--logo-color);
	margin-left: 0.2rem;
}

.logo-container {
	/* border: 1px solid yellow; */
}

.logo {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 40000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 40000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 40000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-transition: rotate(3600deg);
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
