@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.container {
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}
.arrow {
	font-size: 2rem;
	font-weight: 700;
	color: var(--color-hover-btn);
}
