@use '../scss/abstracts/' as *;
@use '../scss/base/' as *;
@use '../scss/components/' as *;
@use '../scss/layout/' as *;
@use '../scss/pages/' as *;
@use '../scss/themes/' as *;
@use '../scss/utilities/' as *;
@use '../scss/vendors/' as *;

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

.qrcode {
    margin-top: 0.8rem;
    width: 150px;
    border-radius: 0.62em;
}

.info-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    column-gap: 1.5rem;
}

.section-title {
    margin: 1em 0;
    display: flex;
    column-gap: 0.5rem;
}

// Icons
.fa-css3-alt {
    color: $css-icon;
}

.fa-html5 {
    color: $html-icon;
}

.fa-js-square {
    color: $js-icon;
}

.fa-bootstrap {
    color: $bs-icon;
}

.fa-react {
    color: $react-icon;
}

.fa-node {
    color: $node-icon;
}

.fa-git-alt {
    color: $git-icon;
}

.fa-whatsapp {
    color: $whatsapp-color;
}

.fa-linkedin {
    color: $linkedin-color;
}
.fa-passport {
    color: $passport-color;
}
.fa-language {
    color: $language-color;
}
.fa-up-right-from-square {
    font-size: 0.6rem;
}

.fa-angle-up {
    font-size: 1rem;
    font-weight: 700;
    color: $color-hover-btn;
}

.fa-chevron-down {
    font-size: 2rem;
    font-weight: 700;
    color: $color-hover-btn;
}

.info-article {
    color: $header-text-color;
    background-color: $header-darker-color;
    padding: 1rem;
    margin: 0;
    border-radius: 0.62em;
    line-height: 1.5em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: $MAX-WIDTH-DESKTOP-INFO-ARTICLE;
    &:hover {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        background-color: $header-darker-hover-color;
    }
    div {
        a {
            color: $header-text-color;
        }
    }
}

.about-article {
    color: $header-text-color;
    background-color: $header-darker-color;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em;
    border-radius: 0.62em;
    line-height: 1.5em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: $MAX-WIDTH-DESKTOP-ABOUT-ARTICLE;
    &:hover {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        background-color: $header-darker-hover-color;
    }
    p {
        i {
            color: $logo-color;
        }
    }
}

.exp-article {
    color: $header-text-color;
    background-color: $header-darker-color;
    padding: 1rem;
    margin: 0;
    border-radius: 0.62em;
    line-height: 1.5em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: $MAX-WIDTH-DESKTOP-EXPERIENCE-ARTICLE;
    &:hover {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        background-color: $header-darker-hover-color;
    }
    small {
        i {
            color: $logo-color;
        }
    }
}
.ed-article {
    color: $header-text-color;
    background-color: $header-darker-color;
    padding: 1rem;
    margin: 0;
    border-radius: 0.62em;
    line-height: 1.5em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: $MAX-WIDTH-DESKTOP-EDUCATION-ARTICLE;
    &:hover {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        background-color: $header-darker-hover-color;
    }
    small {
        i {
            color: $logo-color;
        }
    }
}

.skill-article {
    color: $header-text-color;
    background-color: $header-darker-color;
    padding: 1rem;
    margin: 0;
    border-radius: 0.62em;
    line-height: 1.5em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    &:hover {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        background-color: $header-darker-hover-color;
    }
}

.profile-pic {
    margin-top: 1rem;
    img {
        border-radius: 0.62em;
        width: $MAX-WIDTH-DESKTOP-PROFILE-PICTURE;
    }
}

.qrcode-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.cv-container {
    background-color: $header-container-color;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: $MAX-WIDTH-DESKTOP;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    margin: 0;
    width: $MAX-WIDTH-DESKTOP;
    justify-content: center;
}

.flex-row {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: $MAX-WIDTH-DESKTOP;
    gap: 4rem;
    padding: 0 4rem 3rem 4rem;
    a {
        div {
            border: 1px solid black;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 3rem;
    padding: 3rem 0;
    row-gap: 3rem;
}

.flex-row-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    padding-bottom: 2rem;
    width: $MAX-WIDTH-DESKTOP-SKILL-ARTICLE;
    article {
        min-width: $MIN-WIDTH-DESKTOP-SKILLS;
        max-width: $MAX-WIDTH-DESKTOP-SKILLS;
        min-height: $MIN-HEIGHT-DESKTOP-SKILLS;
        max-height: $MAX-HEIGHT-DESKTOP-SKILLS;
        display: flex;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        p {
            display: flex;
            align-items: center;
            align-content: center;
            justify-items: center;
            justify-content: center;
            column-gap: 0.4rem;
        }
    }
}

@media (width <= 75rem) {
    .info-flex {
        justify-content: center;
        column-gap: 1.5rem;
    }

    .arrow {
        font-size: 0.9rem;
    }

    .cv-container {
        width: auto;
    }

    .ul-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .ul-flex a li {
        padding: 0;
        margin: 0.3em;
        font-size: 1rem;
    }

    .qrcode-container {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .qrcode {
        margin-top: 0.8rem;
        width: 150px;
        border-radius: 0.62em;
    }

    .profile-pic {
        img {
            justify-self: center;
            border-radius: 0.62em;
            width: $MAX-WIDTH-TABLET-PROFILE-PICTURE;
        }
    }

    .flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 2rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        width: $MAX-WIDTH-TABLET;
    }

    .info-article {
        color: $header-text-color;
        background-color: $header-darker-color;
        border-radius: 0.62em;
        letter-spacing: 0.01em;
        margin: 0;
        line-height: 1.5em;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: $MAX-WIDTH-TABLET-INFO-ARTICLE;
        &:hover {
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: $header-darker-hover-color;
        }
        div {
            a {
                color: $header-text-color;
            }
        }
    }

    .about-article {
        color: $header-text-color;
        background-color: $header-darker-color;
        border-radius: 0.62em;
        letter-spacing: 0.01em;
        text-align: center;
        margin: 0;
        line-height: 1.5em;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: $MAX-WIDTH-TABLET-EXPERIENCE-ARTICLE;
        &:hover {
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: $header-darker-hover-color;
        }
        p {
            i {
                color: $logo-color;
            }
        }
    }

    .exp-article {
        color: $header-text-color;
        background-color: $header-darker-color;
        border-radius: 0.62em;
        letter-spacing: 0.01em;
        margin: 0;
        line-height: 1.5em;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: $MAX-WIDTH-TABLET-EXPERIENCE-ARTICLE;
        &:hover {
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: $header-darker-hover-color;
        }
        small {
            i {
                color: $logo-color;
            }
        }
    }

    .ed-article {
        color: $header-text-color;
        background-color: $header-darker-color;
        border-radius: 0.62em;
        letter-spacing: 0.01em;
        margin: 0;
        line-height: 1.5em;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: $MAX-WIDTH-TABLET-EDUCATION-ARTICLE;
        &:hover {
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: $header-darker-hover-color;
        }
        small {
            i {
                color: $logo-color;
            }
        }
    }

    .skill-article {
        color: $header-text-color;
        background-color: $header-darker-color;
        border-radius: 0.62em;
        letter-spacing: 0.01em;
        margin: 0;
        line-height: 1.5em;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: 100%;
        &:hover {
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: $header-darker-hover-color;
        }
    }

    .flex-row-skills {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        row-gap: 1rem;
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        justify-items: center;
        padding: 0 1rem 1rem 1rem;
        width: $MAX-WIDTH-TABLET-SKILL-ARTICLE;
    }
    .flex-row-skills article {
        min-width: $MIN-WIDTH-TABLET-SKILLS;
        max-width: $MAX-WIDTH-TABLET-SKILLS;
        min-height: $MIN-HEIGHT-TABLET-SKILLS;
        max-height: $MAX-HEIGHT-TABLET-SKILLS;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }
    .flex-row-skills article p {
        display: flex;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        column-gap: 0.4rem;
        font-size: 0.7rem;
    }
    .flex-row-maininfo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        row-gap: 1rem;
        width: 100%;
    }

    .footer {
        width: auto;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 1.5rem;
        margin: 0 2rem 2rem 2rem;
    }
}
@media (width <= 40rem) {
    .arrow {
        font-size: 0.8rem;
    }

    .cv-container {
        width: auto;
    }

    .ul-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .ul-flex a li {
        padding: 0;
        margin: 0.3em;
        font-size: 1rem;
    }
    .qrcode {
        margin-top: 0.8rem;
        width: 140px;
        border-radius: 0.62em;
    }
    .profile-pic {
        margin-top: 1rem;
        img {
            border-radius: 0.62em;
            width: $MAX-WIDTH-PHONE-PROFILE-PICTURE;
        }
    }

    .flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 2rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        width: $MAX-WIDTH-PHONE;
    }

    .info-article {
        color: $header-text-color;
        background-color: $header-darker-color;
        border-radius: 0.62em;
        letter-spacing: 0.01em;
        line-height: 1.5em;
        margin: 0;
        padding: 1rem;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: $MAX-WIDTH-PHONE-INFO-ARTICLE;
        &:hover {
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: $header-darker-hover-color;
        }
        div {
            a {
                color: $header-text-color;
            }
        }
    }

    .about-article {
        color: $header-text-color;
        background-color: $header-darker-color;
        border-radius: 0.62em;
        letter-spacing: 0.01em;
        line-height: 1.5em;
        text-align: center;
        margin: 0;
        padding: 1rem;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: $MAX-WIDTH-PHONE-ABOUT-ARTICLE;
        &:hover {
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: $header-darker-hover-color;
        }
        p {
            i {
                color: $logo-color;
            }
        }
    }

    .exp-article {
        color: $header-text-color;
        background-color: $header-darker-color;
        border-radius: 0.62em;
        letter-spacing: 0.01em;
        line-height: 1.5em;
        margin: 0;
        padding: 1rem;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: $MAX-WIDTH-PHONE-EXPERIENCE-ARTICLE;
        &:hover {
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: $header-darker-hover-color;
        }
        small {
            i {
                color: $logo-color;
            }
        }
    }

    .ed-article {
        color: $header-text-color;
        background-color: $header-darker-color;
        border-radius: 0.62em;
        letter-spacing: 0.01em;
        line-height: 1.5em;
        margin: 0;
        padding: 1rem;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: $MAX-WIDTH-PHONE-EDUCATION-ARTICLE;
        &:hover {
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: $header-darker-hover-color;
        }
        small {
            i {
                color: $logo-color;
            }
        }
    }
    .skill-article {
        color: $header-text-color;
        background-color: $header-darker-color;
        border-radius: 0.62em;
        letter-spacing: 0.01em;
        line-height: 1.5em;
        margin: 0;
        padding: 1rem;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: 100%;
        &:hover {
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: $header-darker-hover-color;
        }
    }

    .flex-row-skills {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        row-gap: 1rem;
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        justify-items: center;
        padding: 0 1rem 1rem 1rem;
        width: $MAX-WIDTH-PHONE-SKILL-ARTICLE;
    }
    .flex-row-skills article {
        min-width: $MIN-WIDTH-PHONE-SKILLS;
        max-width: $MAX-WIDTH-PHONE-SKILLS;
        min-height: $MIN-HEIGHT-PHONE-SKILLS;
        max-height: $MAX-HEIGHT-PHONE-SKILLS;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }
    .flex-row-skills article p {
        display: flex;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        column-gap: 0.4rem;
        font-size: 0.7rem;
    }
    .flex-row-maininfo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        row-gap: 1rem;
        width: 100%;
    }

    .main-info-cv {
        font-family: 'Maven Pro', sans-serif;
        color: $color-hover-btn;
        letter-spacing: 0.012em;
        padding-top: 1em;
        text-align: center;
        width: auto;
    }
    .footer {
        flex-direction: column;
        width: $MAX-WIDTH-PHONE-FOOTER;
        text-align: center;
        gap: 0.5rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}
