//DESKTOP
$MAX-WIDTH-DESKTOP: 90dvw;
$MAX-WIDTH-DESKTOP-PROFILE-PICTURE: 15.5dvw;
$MAX-WIDTH-DESKTOP-INFO-ARTICLE: 70dvw;
$MAX-WIDTH-DESKTOP-ABOUT-ARTICLE: 90dvw;
$MAX-WIDTH-DESKTOP-EXPERIENCE-ARTICLE: 28dvw;
$MAX-WIDTH-DESKTOP-EDUCATION-ARTICLE: 28dvw;
$MAX-WIDTH-DESKTOP-SKILL-ARTICLE: 90dvw;
$MAX-WIDTH-DESKTOP-HEADER: 90dvw;
$MAX-WIDTH-DESKTOP-FOOTER: 90dvw;
$MIN-WIDTH-DESKTOP-SKILLS: 11dvw;
$MAX-WIDTH-DESKTOP-SKILLS: 12dvw;
$MIN-HEIGHT-DESKTOP-SKILLS: 1dvh;
$MAX-HEIGHT-DESKTOP-SKILLS: 1dvh;

//TABLET
$MAX-WIDTH-TABLET: 90dvw;
$MAX-WIDTH-TABLET-PROFILE-PICTURE: 15dvw;
$MAX-WIDTH-TABLET-INFO-ARTICLE: 80dvw;
$MAX-WIDTH-TABLET-ABOUT-ARTICLE: 73dvw;
$MAX-WIDTH-TABLET-EXPERIENCE-ARTICLE: 80dvw;
$MAX-WIDTH-TABLET-EDUCATION-ARTICLE: 80dvw;
$MAX-WIDTH-TABLET-SKILL-ARTICLE: 80dvw;
$MAX-WIDTH-TABLET-HEADER: 90dvw;
$MAX-WIDTH-TABLET-FOOTER: 80dvw;
$MIN-WIDTH-TABLET-SKILLS: 15dvw;
$MAX-WIDTH-TABLET-SKILLS: 16dvw;
$MIN-HEIGHT-TABLET-SKILLS: 1dvh;
$MAX-HEIGHT-TABLET-SKILLS: 1dvh;

//PHONE
$MAX-WIDTH-PHONE: 90dvw;
$MAX-WIDTH-PHONE-PROFILE-PICTURE: 30dvw;
$MAX-WIDTH-PHONE-INFO-ARTICLE: 80dvw;
$MAX-WIDTH-PHONE-ABOUT-ARTICLE: 80dvw;
$MAX-WIDTH-PHONE-EXPERIENCE-ARTICLE: 80dvw;
$MAX-WIDTH-PHONE-EDUCATION-ARTICLE: 80dvw;
$MAX-WIDTH-PHONE-SKILL-ARTICLE: 80dvw;
$MAX-WIDTH-PHONE-HEADER: 90dvw;
$MAX-WIDTH-PHONE-FOOTER: 80dvw;
$MIN-WIDTH-PHONE-SKILLS: 20dvw;
$MAX-WIDTH-PHONE-SKILLS: 21dvw;
$MIN-HEIGHT-PHONE-SKILLS: 1dvh;
$MAX-HEIGHT-PHONE-SKILLS: 1dvh;
