@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.multiportalContainer {
	display: flex;
	align-content: center;
	justify-content: center;
	column-gap: 5rem;
	padding-bottom: 3rem;
}

.section {
	background-color: var(--header-element-color-trans);
}
.section2 {
	background-color: var(--header-darker-hover-color-trans);
}

.title {
	color: var(--color-hover-btn);
	font-size: 2rem;
	letter-spacing: 0.2rem;
}

.frangipanidev {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: var(--sample-color4) !important;
}

.lgv {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: var(--lgv-color-text2) !important;
}

.ita {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: var(--text-color) !important;
}

.qrcode {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: var(--lgv-color-text2) !important;
}

.qrcode img {
	width: 100%;
}

.frangipanidev img {
	width: 90%;
	height: 90%;
}
.lgv img {
	width: 90%;
	height: 90%;
}

.ita img {
	width: 90%;
	height: 90%;
}
