.portal {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	row-gap: 1rem;
	width: 10rem;
	height: 10rem;
	color: var(--sample-color3);
	background-color: var(--header-darker-color);
	padding: 3rem;
	transition: 0.3s;
}

.portal:hover {
	transition: 0.3s;
	background-color: var(--header-darker-hover-color);
}

.portal-image {
	border-radius: 1rem;
	width: 120%;
	height: 120%;
}
